.Rproj.user
data/sequence_alignments/gene_specific_analysis/cutalign_L_old.fa
data/with_keeplength_RABV.fasta
data/sequence_alignments/gene_specific_analysis/cutalign_L.fa
beauti_settings
data/concat_seq_genes.fasta
